  .smooth-square {
    width: 150px; /* Tamaño más pequeño para tabletas */
    height: 150px;
    border-radius: 12px; /* Ajuste de bordes */
  }
}

@media (max-width: 480px) {
  .smooth-square {
    width: 120px; /* Tamaño reducido para móviles */
    height: 120px;
    border-radius: 8px; /* Ajuste de bordes para móviles */
  }
}
