.circulo {
  background-color: #5FE3F3;
  width: 25%;
	height: 20%;
  border-radius: 50%;
  border: 10px solid #FF6CDA;
  position: relative; /* Permite centrarlo en el viewport */
  top: 50%; /* Centrado vertical */
  left: 50%; /* Centrado horizontal */
  transform: translate( -50%, 0%); /* Ajusta el centro exacto */
}

/* Diseño responsivo */
@media (max-width: 768px) {
  .circulo {
    width: 200px; /* Tamaño más pequeño para tabletas */
    height: 200px;
    border: 8px solid #FF6CDA;
  }
}

@media (max-width: 480px) {
  .circulo {
    width: 150px; /* Tamaño reducido para móviles */
    height: 150px;
    border: 6px solid #FF6CDA;
  }
}  